header {
  width: 95%;
  margin: 0 auto;
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
}

.logo-image {
  width: 100px;
  height: 100px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  line-height: 110px;
}

.button {
  border-radius: 10px;
  width: 200px;
  height: 45px;
  color: #fff;
  background-color: #F2C94C;
  text-align: center;
  line-height: 45px;
  cursor: pointer;
  box-shadow: #F2C94C 3px 2px 7px;
}

.button:hover {
  box-shadow: none;
}

footer {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.address {
  padding-left: 20px;
  width: 250px;
  border-left: 1px solid #B2B2B2;
}

.addr {
  font-weight: bold;
  font-size: 13px;
}

.block {
  width: 190px;
  margin-top: 20px;
}

.block__item {
  color: rgb(92, 92, 92);
  font-size: 13px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.block__value {
  font-weight: bold;
}

.prkom {
  font-size: 13px;
  font-weight: bold;
  color: #900;
}

.quote {
  width: 350px;
}

.quote__title {
  font-size: 14px;
  font-weight: bold;
  color: #887D1E;
}

.quote__text {
  margin-top: 20px;
  font-size: 14px;
  color: #887D1E;
}

.socialnetworks {
  font-size: 13px;
  width: 390px;
}

.icons {
  width: 150px;
}
.icons img {
  width: 150px;
}

.block a {
  display: block;
  text-decoration: none;
  color: #0074C5;
}

.content {
  padding-left: 2.5%;
  padding-right: 2.5%;
  grid-gap: 2%;
  display: grid;
  grid-template-columns: 3.5fr 1fr;
}

aside {
  background-color: #F2F2F2;
  border-radius: 15px;
}

.aside__title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #4F4F4F;
}

.news__item {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  height: 150px;
  border: 1px solid #000;
  border-radius: 15px;
  overflow: scroll;
}

.news__item-title {
  margin-top: 15px;
  line-height: 25px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.news__item-text {
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 14px;
}
