<header>
  <div class="logo" routerLink="/"><img src="../static/logo.png" alt="logoBMSTU" class="logo-image"></div>
  <div class="title">Служба пропусков МГТУ им. Н. Э. Баумана</div>
  <div class="button" (click)="openLoginForm()">Вход для сотрудников</div>
</header>
<section class="content">
  <section class="main__component" >
    <router-outlet></router-outlet>
  </section>
  <aside>
    <div class="aside__title">
      Новости
    </div>

    <div class="news">
      <div class="news__item">
        <div class="news__item-title">Теперь - по МИРУ</div>
        <div class="news__item-text">Можно скроллить! С этого месяца все студенты могут проходить
          в корпуса по карте мир. Для этого установлены на всех проходных установлены турникеты.
          А тут еще большоооой текст новости об этом, давайте порадуемся!
        </div>
      </div>
      <div class="news__item">
        <div class="news__item-title">Часы приема</div>
        <div class="news__item-text">Новость о часах приема СП МГТУ им Баумана. Нормальная новость</div>
      </div>
      <div class="news__item">
        <div class="news__item-title">Новость!</div>
        <div class="news__item-text">Небольшая новость о чем-то малозначимом</div>
      </div>
    </div>
  </aside>
</section>

<footer>
  <div class="address">
    <div class="addr">105005, Москва, 2-я Бауманская ул., д. 5, стр. 1</div>
    <div class="block">
      <div class="block__item">
        <div class="block__title">Телефон</div>
        <div class="block__value">(499) 263-6391</div>
      </div>
      <div class="block__item">
        <div class="block__title">Факс</div>
        <div class="block__value">(499) 267-4844</div>
      </div>
      <div class="block__item">
        <div class="block__title">Эл. почта</div>
        <div class="block__value">bauman@bmstu.ru</div>
      </div>
    </div>

    <div class="block">
      <div class="prkom">Приёмная комиссия</div>
      <div class="block">
        <div class="block__item">
          <div class="block__title">Телефон</div>
          <div class="block__value">(499) 263-6391</div>
        </div>
        <div class="block__item">
          <div class="block__title">Эл. почта</div>
          <div class="block__value">bauman@bmstu.ru</div>
        </div>
      </div>
    </div>
  </div>
  <div class="quote">
    <div class="quote__title">Ракетный колледж на Яузе</div>
    <div class="quote__text">
      — так иногда называют наш университет.
      МВТУ — пионер в решении задач авиации, создании ракетной техники, ядерной энергетики и радиоэлектроники</div>
  </div>
  <div class="links">
    <div class="socialnetworks">
      <div class="icons">
        <img src="../static/socials.png" alt="icons">
      </div>
      <div class="block">
        <a href="#">Обратная связь</a>
        <a href="#">Карта сайта</a>
        <div class="block">
          Разработано и оформлено отделом
          Поддержки интернет-ресурсов и баз
          данных УИМП МГТУ им. Н. Э. Баумана
        </div>
      </div>
    </div>
  </div>
</footer>
<app-mask class="opened" [class.hidden]="isMaskHidden" (click)="hidePopupsAndMasks()"></app-mask>
<div class="popup" [class.hidden]="isLoginFormHidden">
  <div class="popup__title">Авторизация</div>
  <div class="form">
    <div class="label">Ввведите логин</div>
    <input type="text" class="input">
    <div class="label">Введите пароль</div>
    <input type="text" class="input" type="password">
    <button class="submit" (click)="logIn()">Войти</button>
  </div>
</div>

<div class="popup" [class.hidden]="isFindStatementHidden">
  <div class="popup__title">Отслеживание заявления</div>
  <div class="form">
    <div class="label">Ввведите номер заявления</div>
    <input type="text" class="input">
    <div class="label">Введите ФИО</div>
    <input type="text" class="input" type="text">
    <button class="submit" (click)="findStatement()">Найти</button>
  </div>
</div>

<div class="popup" [class.hidden]="isContinueStatementHidden">
  <div class="popup__title">Продолжить заполнение</div>
  <div class="form">
    <div class="label">Ввведите номер заявления</div>
    <input type="text" class="input">
    <div class="label">Введите ФИО</div>
    <input type="text" class="input" type="text">
    <button class="submit" (click)="findStatement()">Найти</button>
  </div>
</div>

<div class="popup" [class.hidden]="isStatementSubmittedHidden">
  <div class="popup__title">Отправка заявления</div>
  <div class="form">
    <div class="popup__text">Ваше заявление на выпуск пропуска успешно отправлено.
      Вы можете отслеживать его по номеру, указанному ниже.</div>
    <div class="popup__number">XKHS-8U4j</div>
    <button class="submit">Понятно</button>
  </div>
</div>

<div class="popup" [class.hidden]="isStatementHidden">
  <div class="popup__title">Заявление XKHS-8U4j</div>
  <div class="statement">
    <div class="statement__info">
      <div class="statement__item">
        <div class="statement__label">Фамилия:</div>
        <div class="statement__value">Иванов</div>
      </div>

      <div class="statement__item">
        <div class="statement__label">Имя:</div>
        <div class="statement__value">Иван</div>
      </div>

      <div class="statement__item">
        <div class="statement__label">Отчество:</div>
        <div class="statement__value">Иванович</div>
      </div>

      <div class="statement__item">
        <div class="statement__label">Группа:</div>
        <div class="statement__value">ИУ5-62</div>
      </div>

      <div class="statement__item">
        <div class="statement__label">Срок действия:</div>
        <div class="statement__value">2018-2022</div>
      </div>
    </div>
    <div class="statement__info statement__info__photo">
      <img src="../static/logo.png" alt="" class="statement__photo">
    </div>
  </div>
  <div class="buttons">
    <div class="button button__reject" (click)="rejectStatement()">Отказать</div>
    <div class="button button__resolve" (click)="resolveStatement()">Одобрить</div>
  </div>
</div>

<div class="popup statement__reject" [class.hidden]="isStatementRejectReasonHidden">
  <div class="popup__title">Отказ по заявлению XKHS-8U4j</div>
    <div class="statement__reason">
      <div class="statement__title">Укажите причину отказа:</div>
      <select multiple name="reason[]" id="reason">
        <option disabled>Причина отказа</option>
        <option value="1">Неверные данные</option>
        <option value="2">Фото</option>
        <option value="3">Индекс группы</option>
      </select>
      <div class="statement__title">Комментарий:</div>
      <textarea name="text" id="" class="textarea"></textarea>
  </div>
    <div class="button button__reason__resolve" (click)="sendRejectReason()">Отправить</div>
</div>
