<div class="title">
  Заявления
</div>

<div class="table">
  <div class="table__row">
    <div class="name__title">Имя</div>
    <div class="date__title">Фамилия</div>
    <div class="role__title">Роль</div>
    <div class="status__title">Статус</div>
  </div>

  <app-statement-table-item class="table__row"
                            *ngFor="let statement of statements"
                            [statement]="statement"
                            (click)="openStatement()">
  </app-statement-table-item>
</div>
