.title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 30px;
}

.table {
  width: 80%;
  margin: 50px auto 0;
}

.table__row {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr;
  grid-gap: 20px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}


.table__row:first-child {
  border-bottom: 2px solid #828282;
}

.table__row:nth-child(even) {
  background-color: rgba(0,0,0,0.05);
}

.table__row:hover {
  background-color: rgba(0,0,0,0.1);
}

.name__title,.date__title,.status__title,.role__title {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
